APP_ENV=development
SERVER_PORT=8082
GIN_MODE=debug

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=car_service
DB_SSLMODE=disable
DB_TIMEZONE=UTC

JWT_ACCESS_SECRET=dev-access-secret

MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_USE_SSL=false
MINIO_BUCKET=car-images
